*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #fff;
    --secondary-color:#10B981;
}

body{
    display: flex;
width: 1253px;
height: 678px;
padding: 64px 61px 64px 62px;
justify-content: center;
align-items: flex-start;
gap: 30px;
background-color: black;
flex-shrink: 0;

}
.container{
    width: 550px;
    height: 550px;
    flex-shrink: 0;
    background-color: #273549;
    padding: 48px;
    border-radius: 8px;
}

h2{
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
    letter-spacing: -1px;
    color: var(--primary-color);
}

span{
    color: var(--secondary-color)
}
p{
    color: var(--Medium-grey, #D5D4D8);
/* text-xl/leading-7/font-normal */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
button{
    display: inline-flex;
padding: 9px 17px 9px 15px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 6px;
background: #10B981;
border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
margin-top: 40px;
}